.about {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 100px;
  align-items: center;
  color: rgb(52, 49, 49);
}
.about-section h3 {
  font-size: 25px;
  width: 55%;
}
.about img {
  max-height: 70vh;
  max-width: 70vh;
  width: 100%;
}

@media (max-width: 1000px) {
  .about {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    
  }
  .about-section {
    margin: 20px 0;
  }
  .about-section p {
    text-align: left;
  }
  .title p {
    text-align: center;
  }
  .title h3 {
    margin: 0 auto;
    margin-top: 6px;
    text-align: center;
  }
  .about-section h3 {
    font-size: 25px;
    /* width: 55%; */
    
  }
  .about img {
    max-width: 120vh;
    width: 100%;
    margin: 0 50px;
  }
}
