.contact {
  margin: 40px auto;
  padding: 20px 50px;
  margin-bottom: 8%;
  width: 90%;
}
.contact-flex {
  display: flex;
  /* gap: 100%; */
  margin-top: 40px;
  flex-basis: 50%;
}
.message {
  width: 40%;
  display: block;
  flex-basis: 60%;
}
.message label {
  font-size: 22px;
  font-weight: 500;
  display: inline-flex;
}
.message label img {
  width: 30px;
  margin-left: 10px;
}
.message p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form input,
textarea {
  padding: 12px 12px;
  width: 250%;
  border: 0;
  outline: 0;
  box-shadow: 0 0 10px 0 gray;
  border-radius: 4px;
  margin-bottom: 4px;
}
.form textarea {
  padding-bottom: 22px;
  height: 150px;
}
.contactdetails {
  display: flex;
  gap: 10px;
}
.contactdetails img {
  width: 2rem;
  height: 2rem;
  margin-top: 6px;
}
.form div {
  display: inline-flex;
  gap: 10px;
  width: 65%;
  padding: 10px 20px;
  background: rgb(207, 202, 194);
  border-radius: 20px;
  font-size: 14px;
  margin-top: 10px;
}
.form div img {
  width: 15px;
}

@media (max-width: 1200px) {
  .contact {
    margin: 40px auto;
    padding: 20px 50px;
    margin-bottom: 8%;
    width: 90%;
  }
  .contact-flex {
    display: flex;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .form input,
  textarea {
    padding: 12px 12px;
    width: 200%;
    border: 0;
    outline: 0;
    box-shadow: 0 0 10px 0 gray;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  .form div {
    display: inline-flex;
    gap: 10px;
    width: 65%;
    padding: 10px 20px;
    background: rgb(207, 202, 194);
    border-radius: 20px;
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (max-width: 1000px) {
  .contact-flex {
    display: flex;
  }
  .form input,
  textarea {
    padding: 12px 12px;
    width: 190%;
    border: 0;
    outline: 0;
    box-shadow: 0 0 10px 0 gray;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  .form div {
    display: inline-flex;
    gap: 10px;
    width: 65%;
    padding: 10px 20px;
    background: rgb(207, 202, 194);
    border-radius: 20px;
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (max-width: 927px) {
  .form input,
  textarea {
    padding: 12px 12px;
    width: 175%;
    border: 0;
    outline: 0;
    box-shadow: 0 0 10px 0 gray;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  .form div {
    display: inline-flex;
    gap: 10px;
    width: 65%;
    padding: 10px 20px;
    background: rgb(207, 202, 194);
    border-radius: 20px;
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (max-width: 840px) {
  .message {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .contact-flex {
    display: block;
  }
  .form input,
  textarea {
    padding: 12px 12px;
    width: 100%;
    border: 0;
    outline: 0;
    box-shadow: 0 0 10px 0 gray;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  .form div {
    display: inline-flex;
    gap: 10px;
    width: 130px;
    padding: 10px 20px;
    background: rgb(207, 202, 194);
    border-radius: 20px;
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (max-width: 412px) {
  .form div {
    display: inline-flex;
    gap: 10px;
    width: 130px;
    padding: 10px 20px;
    background: rgb(207, 202, 194);
    border-radius: 20px;
    font-size: 14px;
    margin-top: 10px;
  }
}
